{% extends "layout.html" %}
{% load static %}

{% block title %}
    Client - Order_details
{% endblock %}

{% block body %}
    <!-- sidebar -->
    {% include 'layouts/sidebar.html' %}

    <div id="main">
        <header class="mb-3">
            <a href="#" class="burger-btn d-block d-xl-none">
                <i class="bi bi-justify fs-3"></i>
            </a>
        </header>

        <div class="page-heading">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-md-6 order-md-1 order-last">
                        <h3>Order details</h3>
                        <p class="text-subtitle text-muted">View Order Details</p>
                    </div>
                </div>
            </div>

            <section class="section">

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">

                                <div class="d-flex justify-content-between mb-4">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"> <span class="fw-bold">Order # {{ order.order_number }}</span> </li>
                                        <li class="list-group-item"><span class="fw-bold">Order Date:</span> {{order.created_at}} </li>
                                        <li class="list-group-item"><span class="fw-bold">Payment Method:</span> Completed </li>
                                        <li class="list-group-item"><span class="fw-bold">Status:</span> {{ order.status }}</li>
                                    </ul>
        
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item fw-bold">Invoiced To</li>
                                        <li class="list-group-item">{{ company }}</li>
                                        <li class="list-group-item">{{ location.address }}</li>
                                        <li class="list-group-item">{{ location.city }}, {{ location.country }}</li>
                                        <li class="list-group-item">{{ location.phone }}</li>
        
                                    </ul>
                                </div>
                                <!-- Table with outer spacing -->
                                <div class="table-responsive">
                                    <table class="table table-lg">
                                        <thead>
                                            <tr>
                                                <th>PRODUCT</th>
                                                <th>QUANTITY</th>
                                                <th>RATE</th>
                                                <th>STATUS</th>
                                            </tr>
                                        </thead>

                                        {% for order_product in order_products %}
                                        <tbody>

                                            {% if order_product.crate %}
                                                <tr>
                                                    <td>
                                                        <div class="card-content">
                                                            <div class="d-flex align-items-center">
                                                                <div class="avatar avatar-xl">
                                                                    <img src="{% static 'assets/images/samples/crate_02.jpg' %}" alt="Face 1">
                                                                </div>
                                                                <div class="ms-3 name">
                                                                    <a href="{{ order_product.crate.get_url }}">
                                                                        <h5 class="font-bold">{{ order_product.crate.crate_name }}</h5>
                                                                    </a>
                                                                    
                                                                    <h6 class="text-muted mb-0">{{ order_product.crate.category }}</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <h5 class="font-bold">{{ order_product.quantity }}</h5>
                                                    </td>
                                                    <td class="text-bold-500">
                                                        <h6>
                                                            ${{ subtotal }}
                                                        </h6>
                                                        <small>${{ order_product.crate.delivery_price }} each</small>
                                                    </td>
                                                    <td class="text-bold-500">
                                                        {% if order_product.crate.status == 'Pick up room' %}
                                                            <small>Ready to dispatch</small>
                                                        {% else %}
                                                            <small>{{ order_product.crate.status }}</small>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% else %}
                                            <tr>
                                                <td>
                                                    <div class="card-content">
                                                        <div class="d-flex align-items-center">
                                                            
                                                            <div class="ms-3 name">
                                                                <a href="{{ order_product.item.get_url }}">
                                                                    <h5 class="font-bold">{{ order_product.item.item_name }}</h5>
                                                                </a>
                                                                <h6 class="text-muted mb-0">{{ order_product.item.category }}</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <h5 class="font-bold">{{ order_product.quantity }}</h5>
                                                </td>
                                                <td class="text-bold-500">
                                                    <h6>
                                                        ${{ subtotal }}
                                                    </h6>
                                                    <small>${{ order_product.item.delivery_price }} each</small>
                                                </td>

                                                <td class="text-bold-500">
                                                    {% if order_product.item.status == 'Pick up room' %}
                                                        <small>Ready to dispatch</small>
                                                    {% else %}
                                                        <small>{{ order_product.item.status }}</small>
                                                    {% endif %}
                                                </td>
                                                
                                            </tr>
                                            {% endif %}
                                        </tbody>
                                        {% endfor %}

                                        <tr>
                                            <td></td>
                                            <td><li class="list-group-item "> <span class="fw-bold">Sub Total</span></li></td>
                                            <td><li class="list-group-item "> <span class="fw-bold">{{ subtotal }}</span></li></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td><li class="list-group-item "> <span class="fw-bold">Tax</span></li></td>
                                            <td><li class="list-group-item "> <span class="fw-bold">{{ order.tax }}</span></li></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td><li class="list-group-item "> <span class="fw-bold">Final Amount:</span></li></td>
                                            <td><li class="list-group-item "> <span class="fw-bold">{{ order.order_total }}</span></li></td>
                                        </tr>
                                        </tr>
                                        
                                    </table>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

{% endblock %}